.minicard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.minicard-container>img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.minicard-container h4 {
    margin-right: 4px;
}

.minicard-container>div {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}