* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  font-family:'Times New Roman', Times, serif;
  font-size: 26px;
}

header {
  background-color:tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

}

header h3 {
  margin-right: 40px;
}

button {
  padding: 0px px;
}

.container {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 300px;
  max-width: 300px;


}

.form-busca-site {
  position: relative;
}

.btn-text-top {
  background-color: #f5f6fa;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 15px 50px 15px 30px;
  border-radius: 10px;
  width: 100% !important;
  height: 30px;
  font-weight: 300;
  color: #8795a2;
}

.btn-buscar-top {
  width: 20px !important;
  height: 22px;
  background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
  cursor: pointer !important;
  border: none;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 4px;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

videos {
  max-width: 100%;
  display: block;

}

.videos {
  flex-wrap: wrap;
  max-width: 880px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

 .videos>div>a {
  margin: 10px;
  width: 400px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos>div video {
  width: 100%;
}

.video3 {
  width: 800px;

}

footer {
  background-color:tomato;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;

}

section {
  flex-grow: 1;
}

.inicio {
  margin-right: 4px
}


h2 {
  font-size: large;
  font-weight: bolder;
  padding: 18px;
}

p {
  font-size:medium;
  padding-bottom: 12px;
  color:black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#conteudo {
  display: flex;
  flex-wrap: wrap;

}

@media screen and (max-device-width: 1000px) {
  .container {
    height: 60px;
    max-width: 300px;
    margin: 0 auto;
    justify-content: center;
  

  }

}